[submodule "skklub-v3-frontend"]
	path = skklub-v3-frontend
	url = git@github.com:SKKU-TSC/skklub-v3-frontend.git
[submodule "skklub-v3-backend"]
	path = skklub-v3-backend
	url = git@github.com:SKKU-TSC/skklub-v3-backend.git
